@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) and (color-gamut: srgb) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 28, 30, 30;
    --background-end-rgb: 28, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .html-content-content a {
    @apply text-blue-300;
  }

  .html-content-content a:hover {
    @apply text-blue-500 underline;
  }
}
